<div style="padding-right: 6px; padding-left: 25px;">
    <div onclick="returnHome()" style="background-color: brown; width: 100px; " class="btn btn-danger">
        Home
    </div>
</div>
<div style="padding-right: 6px; padding-left: 25px;">
    <div id="title">
        <b>Thread Topic:</b><%= thread.name %>
    </div>
</div>
<div class="feed">
    <ul class="feedList">
        <% thread.content.forEach((e, i) => { %>
        <li style="background-color: thistle;">
            <p style="margin: 0px;padding-left: 10px;">
                <div class='content'>
                    <%= e.content %>
                </div>
                <br>
                By: <%= e.username %> <br>
                At: <%= new Date(e.timestamp).toUTCString() %>
            </p>
        </li>
        <% }); %>
        <li style="background-color: thistle;">
            <p style="padding-left: 10px; min-height: 100px;">
                Add To Discussion. <br> <textarea id="newthreadPost" placeholder="Your inspiring message"
                    style='min-height: 70px; min-width: 600px;'></textarea>
                <br>
                <button onclick="addPost()">Post</button> </p>
        </li>
    </ul>
</div>
