<div class="">
    <input id="newthread-container" style="width: 90%; min-height: 100px; background-color: chartreuse;" required>

    </input><br>
    <button onclick="postthread()">SEND IT!</button>
</div>


<div class="feed">
    <ul class="feedList">
        <% thread.forEach((e, i) => { %>
        <li style="background-color: thistle;">
            <p onclick="moveToThread('<%= i %>')">
                <%= e.name %>
                <br>
                By: <%= e.content[0].username %>
            </p>
        </li><br>
        <% }); %>
    </ul>
</div>
